
.hero {
    padding: 300px 60px;
    min-height: 80vh;
    background: url(../images/House-of-dragon.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-color: #000;
    
    id {
        
    }
}